body {
    background-color: white;
}

h1 { 
    color : black;
}

.btn {
    color : red;
    cursor : pointer;
}

.clicked {
    color : blue;
}

.form,
.greeting {
    display : none;
}

.showing {
    display : block;
}
